<header class="header">
  <div class="container">
    <nav class="nav" [ngClass]="{'active': menuActive}">
      <div class="logo">
        <img src="assets/img/logo.png" alt="Sphère Dentaire">
      </div>
      <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="closeMenu()">Accueil</a>
      <a routerLink="/soins" routerLinkActive="active" (click)="closeMenu()">Les soins</a>
      <a routerLink="/equipe" routerLinkActive="active" (click)="closeMenu()">L’équipe</a>
      <a routerLink="/galerie" routerLinkActive="active" (click)="closeMenu()">Galerie</a>
      <a routerLink="/blog" routerLinkActive="active" (click)="closeMenu()">Blog</a>
    </nav>

    <div class="right-buttons">
       <div class="menu-toggle">
      <button class="menu-btn" (click)="toggleMenu()">Menu</button>
    </div>
      <a class="btn-rdv" href="https://www.doctolib.fr/cabinet-dentaire/les-clayes-sous-bois/cabinet-sphere-dentaire/booking/motives?specialityId=1&telehealth=false&placeId=practice-654830&bookingFunnelSource=profile" target="_blank" rel="noopener">
        PRENDRE RENDEZ-VOUS
      </a>
    </div>

  </div>
</header>
